In [3]:
import pandas as pd

# Load the Excel file
file_path = 'Moving annual rent by suburb - March quarter 2023.xlsx'

# Load the excel file and check sheet names to decide which one to extract
excel_file = pd.ExcelFile(file_path)
sheet_names = excel_file.sheet_names

sheet_names

['1 bedroom flat',
 '2 bedroom flat',
 '3 bedroom flat',
 '2 bedroom house',
 '3 bedroom house',
 '4 bedroom house',
 'All properties']

In [8]:
# Load the 'All properties' sheet into a pandas dataframe
all_properties_df = pd.read_excel(file_path, sheet_name='All properties')

# Display the dataframe to the user
display(all_properties_df)

,Moving annual rent by suburb,Unnamed: 1,Lease commenced in year ending,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187
0,All properties,NaN,Mar 2000,NaN,Jun 2000,NaN,Sep 2000,NaN,Dec 2000,NaN,...,Mar 2022,NaN,Jun 2022,NaN,Sep 2022,NaN,Dec 2022,NaN,Mar 2023,NaN
1,NaN,NaN,Count,Median,Count,Median,Count,Median,Count,Median,...,Count,Median,Count,Median,Count,Median,Count,Median,Count,Median
2,Inner Melbourne,Albert Park-Middle Park-West St Kilda,1143,260,1134,260,1177,270,1178,275,...,867,500,855,515,881,500,832,525,786,545
3,NaN,Armadale,733,200,737,200,738,205,739,210,...,805,430,851,450,852,450,840,460,751,490
4,NaN,Carlton North,864,260,814,260,799,265,736,270,...,581,580,535,595,547,600,546,600,490,620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,NaN,Wanagaratta,705,125,671,125,631,130,623,130,...,531,370,530,380,547,380,541,380,518,380
157,NaN,Warragul,385,130,367,135,382,135,366,135,...,522,400,512,400,515,420,523,430,497,440
158,NaN,Warrnambool,1266,130,1229,135,1204,135,1135,135,...,854,400,844,400,870,420,859,420,867,420
159,NaN,Wodonga,1446,145,1439,145,1468,150,1449,150,...,1233,380,1267,390,1251,400,1191,410,1173,410
160,NaN,Group Total,13812,130,13758,130,13842,130,13636,130,...,12149,360,12089,365,12258,380,12072,380,11944,390

In [12]:
# Fixing the index and cleaning up the dataframe
# The first step is to clean up any issues with the suburb column

# Rename the columns properly, focusing on year-based organization
df_cleaned = all_properties_df.drop([0, 1]).reset_index(drop=True)

# The suburb column appears to span two rows, we'll merge these appropriately
df_cleaned['Suburb'] = df_cleaned['Moving annual rent by suburb'].fillna(method='ffill')

# Now we can drop any redundant or misaligned rows
df_cleaned = df_cleaned.drop(columns=['Moving annual rent by suburb'])

# Renaming the columns to follow a clear format (year, count/median)
columns = ['Suburb'] + ['{}_{}'.format(df_cleaned.iloc[0, i], 'Count' if i % 2 == 1 else 'Median') for i in range(1, len(df_cleaned.columns))]
df_cleaned.columns = columns

# Dropping the old header row
df_cleaned = df_cleaned.drop(0).reset_index(drop=True)

# Now reset the index to make Suburb the primary index
df_cleaned.set_index('Suburb', inplace=True)

# Display the corrected dataframe to the user
display(df_cleaned)

/tmp/ipykernel_166656/3327708108.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_cleaned['Suburb'] = df_cleaned['Moving annual rent by suburb'].fillna(method='ffill')

,1143_Count,260_Median,1134_Count,260_Median,1177_Count,270_Median,1178_Count,275_Median,1208_Count,275_Median,...,500_Median,855_Count,515_Median,881_Count,500_Median,832_Count,525_Median,786_Count,545_Median,Inner Melbourne_Count
Suburb,,,,,,,,,,,,,,,,,,,,,
Armadale,733,200,737,200,738,205,739,210,718,215,...,430,851,450,852,450,840,460,751,490,Inner Melbourne
Carlton North,864,260,814,260,799,265,736,270,718,270,...,580,535,595,547,600,546,600,490,620,Inner Melbourne
Carlton-Parkville,1339,260,1304,260,1300,260,1320,260,1273,260,...,310,6018,319,6871,340,6627,350,6690,400,Inner Melbourne
CBD-St Kilda Rd,2132,320,2264,320,2358,320,2361,320,2591,320,...,365,16792,390,18284,419,17627,450,17426,500,Inner Melbourne
Collingwood-Abbotsford,652,230,653,230,700,240,709,240,746,243,...,430,2307,450,2517,480,2365,495,2163,520,Inner Melbourne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wanagaratta,705,125,671,125,631,130,623,130,602,130,...,370,530,380,547,380,541,380,518,380,Other Regional Centres
Warragul,385,130,367,135,382,135,366,135,365,135,...,400,512,400,515,420,523,430,497,440,Other Regional Centres
Warrnambool,1266,130,1229,135,1204,135,1135,135,1069,140,...,400,844,400,870,420,859,420,867,420,Other Regional Centres
Wodonga,1446,145,1439,145,1468,150,1449,150,1405,150,...,380,1267,390,1251,400,1191,410,1173,410,Other Regional Centres
Group Total,13812,130,13758,130,13842,130,13636,130,13285,135,...,360,12089,365,12258,380,12072,380,11944,390,Other Regional Centres