In [1]:
import pandas as pd

In [2]:
# Load the Excel file from `data/landing` directory
file_path = '../../data/landing/income_14100DO0004_2011-23.xlsx'  
excel_data = pd.ExcelFile(file_path)

In [3]:
# `data/raw` directory: Convert Table 1 Sheet in Excel to CSV 
for sheet in excel_data.sheet_names:
    if sheet == 'Table 1':
        sheet_df = pd.read_excel(file_path, sheet_name=sheet)
        csv_file = f"../../data/raw/Income_SA2_{sheet}.csv"
        sheet_df.to_csv(csv_file, index=False)
        print(f"Saved '{sheet}' as {csv_file}")

Saved 'Table 1' as ../../data/raw/Income_SA2_Table 1.csv

# Table 1 Sheet (Victoria state by SA2)
### INCOME (INCLUDING GOVERNMENT ALLOWANCES), Australia, State and Territory, Statistical Areas Level 2-4, Greater Capital City Statistical Areas, 2011, 2016-2022

In [18]:
# `data/raw directory: Load the CSV file for Table 1, skipping the 6 lines of Header
table1_df = pd.read_csv('../../data/raw/Income_SA2_Table 1.csv', skiprows=6)

# display tables and features
table1_df.head()

/var/folders/rz/jz9rr3bj0p54tkcg75wqd8l80000gn/T/ipykernel_55958/2583260281.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  table1_df = pd.read_csv('../../data/raw/Income_SA2_Table 1.csv', skiprows=6)

,Code,Label,Year,Employee income earners (no.),Employee income earners - median age (years),Total employee income ($m),Median employee income ($),Mean employee income ($),Employee income as main source of income (%),Own unincorporated business income earners (no.),...,Income inadequately described or not stated (%),Median equivalised total household income (weekly) ($),$1-$499 per week (%).1,$500-$999 per week (%).1,$1000-$1999 per week (%).1,$2000-$2999 per week (%).1,$3000 or more per week (%).1,Nil income (%).1,Partial income stated (%),All incomes not stated (%)
0,AUS,Australia,2011.0,-,-,-,-,-,-,-,...,-,763,-,-,-,-,-,-,-,-
1,AUS,Australia,2016.0,12171794,38,724934.7,48413,59559,76.7,1958072,...,9,877,21,28.5,29.1,6.8,2.8,1.6,7.8,2.4
2,AUS,Australia,2017.0,12442032,38,746501.2,49083,59998,76.9,2005237,...,-,-,-,-,-,-,-,-,-,-
3,AUS,Australia,2018.0,12685727,38,787316.7,50861,62063,77.7,2043758,...,-,-,-,-,-,-,-,-,-,-
4,AUS,Australia,2019.0,13007327,38,828414.6,52425,63688,77.4,2099436,...,-,-,-,-,-,-,-,-,-,-

In [30]:
# select Victoria suburbs which has the 'Code' starting with '2' 
suburbs_victoria_df = table1_df[table1_df['Code'].astype(str).str.startswith('2')]
suburbs_victoria_df.head(10)

,Code,Label,Year,Employee income earners (no.),Employee income earners - median age (years),Total employee income ($m),Median employee income ($),Mean employee income ($),Employee income as main source of income (%),Own unincorporated business income earners (no.),...,Income inadequately described or not stated (%),Median equivalised total household income (weekly) ($),$1-$499 per week (%).1,$500-$999 per week (%).1,$1000-$1999 per week (%).1,$2000-$2999 per week (%).1,$3000 or more per week (%).1,Nil income (%).1,Partial income stated (%),All incomes not stated (%)
16,2,Victoria,2011.0,-,-,-,-,-,-,-,...,-,751,-,-,-,-,-,-,-,-
17,2,Victoria,2016.0,3048110,38,174887.8,47469,57376,76.1,501879,...,8.7,864,21,29.1,28.9,6.4,2.7,2,7.5,2.5
18,2,Victoria,2017.0,3151400,38,184293.1,48219,58480,76.4,523202,...,-,-,-,-,-,-,-,-,-,-
19,2,Victoria,2018.0,3239361,38,196542,50019,60673,77,539640,...,-,-,-,-,-,-,-,-,-,-
20,2,Victoria,2019.0,3347084,38,208873.6,51688,62405,76.9,559515,...,-,-,-,-,-,-,-,-,-,-
21,2,Victoria,2020.0,3393012,38,219234.7,53323,64614,77.2,568765,...,-,-,-,-,-,-,-,-,-,-
22,2,Victoria,2021.0,-,-,-,-,-,-,-,...,6.8,1074,15.7,25.8,34.5,10.6,5.2,2,4.4,1.8
23,2,Victoria,2022.0,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
96,2GMEL,Greater Melbourne,2011.0,-,-,-,-,-,-,-,...,-,805,-,-,-,-,-,-,-,-
97,2GMEL,Greater Melbourne,2016.0,2351764,38,140101.4,48878,59573,77,351882,...,8.2,923,19,27.7,30.7,7.4,3.1,2.3,7.6,2.2

In [29]:
# select entries where 'Label' contains 'Victoria'
label_victoria_df = table1_df[table1_df['Label'].str.contains('Victoria', na=False)]
label_victoria_df.tail(10)

,Code,Label,Year,Employee income earners (no.),Employee income earners - median age (years),Total employee income ($m),Median employee income ($),Mean employee income ($),Employee income as main source of income (%),Own unincorporated business income earners (no.),...,Income inadequately described or not stated (%),Median equivalised total household income (weekly) ($),$1-$499 per week (%).1,$500-$999 per week (%).1,$1000-$1999 per week (%).1,$2000-$2999 per week (%).1,$3000 or more per week (%).1,Nil income (%).1,Partial income stated (%),All incomes not stated (%)
19798,506021123,Victoria Park - Lathlain - Burswood,2021.0,-,-,-,-,-,-,-,...,6.5,1314,11.1,20.7,35.5,14.7,9,1.9,6,1
19799,506021123,Victoria Park - Lathlain - Burswood,2022.0,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
22160,702051068,Victoria River,2011.0,-,-,-,-,-,-,-,...,-,535,-,-,-,-,-,-,-,-
22161,702051068,Victoria River,2016.0,260,37,9.8,29004,37565,93.1,-,...,27.7,527,37.1,15.1,20.3,4.5,1.7,3,11.9,6.4
22162,702051068,Victoria River,2017.0,295,35,11.6,29193,39258,95.2,18,...,-,-,-,-,-,-,-,-,-,-
22163,702051068,Victoria River,2018.0,338,35,12.2,24001,36181,95.9,15,...,-,-,-,-,-,-,-,-,-,-
22164,702051068,Victoria River,2019.0,357,35,13.2,26434,37104,95.7,23,...,-,-,-,-,-,-,-,-,-,-
22165,702051068,Victoria River,2020.0,386,35,15.3,28639,39614,95.7,23,...,-,-,-,-,-,-,-,-,-,-
22166,702051068,Victoria River,2021.0,-,-,-,-,-,-,-,...,14.2,442,50.1,13.3,16.9,6.3,1.5,0.6,7.6,3.8
22167,702051068,Victoria River,2022.0,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

We notice that other Victorian locations were included like: 
* Royal Botanic Gardens, 
* Victoria River, 
* Victoria Park, 
* Victoria Point

In [31]:
# combine the two filtered datasets above
cleaned_victoria_df = pd.concat([suburbs_victoria_df, label_victoria_df]).drop_duplicates()

In [32]:
cleaned_victoria_df

,Code,Label,Year,Employee income earners (no.),Employee income earners - median age (years),Total employee income ($m),Median employee income ($),Mean employee income ($),Employee income as main source of income (%),Own unincorporated business income earners (no.),...,Income inadequately described or not stated (%),Median equivalised total household income (weekly) ($),$1-$499 per week (%).1,$500-$999 per week (%).1,$1000-$1999 per week (%).1,$2000-$2999 per week (%).1,$3000 or more per week (%).1,Nil income (%).1,Partial income stated (%),All incomes not stated (%)
16,2,Victoria,2011.0,-,-,-,-,-,-,-,...,-,751,-,-,-,-,-,-,-,-
17,2,Victoria,2016.0,3048110,38,174887.8,47469,57376,76.1,501879,...,8.7,864,21,29.1,28.9,6.4,2.7,2,7.5,2.5
18,2,Victoria,2017.0,3151400,38,184293.1,48219,58480,76.4,523202,...,-,-,-,-,-,-,-,-,-,-
19,2,Victoria,2018.0,3239361,38,196542,50019,60673,77,539640,...,-,-,-,-,-,-,-,-,-,-
20,2,Victoria,2019.0,3347084,38,208873.6,51688,62405,76.9,559515,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22163,702051068,Victoria River,2018.0,338,35,12.2,24001,36181,95.9,15,...,-,-,-,-,-,-,-,-,-,-
22164,702051068,Victoria River,2019.0,357,35,13.2,26434,37104,95.7,23,...,-,-,-,-,-,-,-,-,-,-
22165,702051068,Victoria River,2020.0,386,35,15.3,28639,39614,95.7,23,...,-,-,-,-,-,-,-,-,-,-
22166,702051068,Victoria River,2021.0,-,-,-,-,-,-,-,...,14.2,442,50.1,13.3,16.9,6.3,1.5,0.6,7.6,3.8
22167,702051068,Victoria River,2022.0,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [33]:
print(f"Total columns: {len(cleaned_victoria_df.columns)}")
cleaned_victoria_df.columns

Total columns: 68

Index(['Code', 'Label', 'Year', 'Employee income earners (no.)',
       'Employee income earners - median age (years)',
       'Total employee income ($m)', 'Median employee income ($)',
       'Mean employee income ($)',
       'Employee income as main source of income (%)',
       'Own unincorporated business income earners (no.)',
       'Own unincorporated business income earners - median age (years)',
       'Total own unincorporated business income ($m)',
       'Median own unincorporated business income ($)',
       'Mean own unincorporated business income ($)',
       'Own unincorporated business income as main source of income (%)',
       'Investment income earners (no.)',
       'Investment income earners - median age (years)',
       'Total investment income ($m)', 'Median investment income ($)',
       'Mean investment income ($)',
       'Investment income as main source of income (%)',
       'Superannuation and annuity income earners (no.)',
       'Superannuation and annuity income earners - median age (years)',
       'Total superannuation and annuity income ($m)',
       'Median superannuation and annuity income ($)',
       'Mean superannuation and annuity income ($)',
       'Superannuation and annuity income as main source of income (%)',
       'Total income earners (excl. Government pensions and allowances) (no.)',
       'Total income earners (excl. Government pensions and allowances) - median age (years)',
       'Total income (excl. Government pensions and allowances) ($m)',
       'Median total income (excl. Government pensions and allowances) ($)',
       'Mean total income (excl. Government pensions and allowances) ($)',
       'Total income (excl. Government pensions and allowances) - p80/P20 ratio',
       'Total income (excl. Government pensions and allowances) - p80/P50 ratio',
       'Total income (excl. Government pensions and allowances) - p20/P50 ratio',
       'Total income (excl. Government pensions and allowances) - p10/P50 ratio',
       'Total income (excl. Government pensions and allowances) - gini coefficient',
       'Total income (excl. Government pensions and allowances) - income share of top 1% of earners',
       'Total income (excl. Government pensions and allowances) - income share of top 5% of earners',
       'Total income (excl. Government pensions and allowances) - income share of top 10% of earners',
       'Total income (excl. Government pensions and allowances) - lowest Quartile (%)',
       'Total income (excl. Government pensions and allowances) - second Quartile (%)',
       'Total income (excl. Government pensions and allowances) - third Quartile (%)',
       'Total income (excl. Government pensions and allowances) - highest Quartile (%)',
       'Persons who reported gross capital gains (no.)',
       'Total value of gross capital gains ($m)',
       'Median value of gross capital gains ($)',
       'Mean value of gross capital gains ($)',
       'Age pension - Department of Veterans' Affairs (no.)',
       'Service pension - Department of Veterans' Affairs (no.)',
       'Income support supplement - Department of Veterans' Affairs (no.)',
       '$1-$499 per week (%)', '$500-$999 per week (%)',
       '$1000-$1999 per week (%)', '$2000-$2999 per week (%)',
       '$3000 or more per week (%)', 'Nil income (%)', 'Negative income (%)',
       'Income inadequately described or not stated (%)',
       'Median equivalised total household income (weekly) ($)',
       '$1-$499 per week (%).1', '$500-$999 per week (%).1',
       '$1000-$1999 per week (%).1', '$2000-$2999 per week (%).1',
       '$3000 or more per week (%).1', 'Nil income (%).1',
       'Partial income stated (%)', 'All incomes not stated (%)'],
      dtype='object')

In [34]:
# filter relevant columns 
relevant_columns = [
    'Code', 'Label', 'Year', 
    'Employee income earners (no.)', 'Total employee income ($m)', 
    'Median employee income ($)', 'Mean employee income ($)', 
    'Own unincorporated business income earners (no.)', 
    'Total own unincorporated business income ($m)', 
    'Median own unincorporated business income ($)', 
    'Mean own unincorporated business income ($)', 
    'Investment income earners (no.)', 
    'Total investment income ($m)', 'Median investment income ($)', 
    'Mean investment income ($)', 
    'Total income (excl. Government pensions and allowances) ($m)', 
    'Median total income (excl. Government pensions and allowances) ($)', 
    'Mean total income (excl. Government pensions and allowances) ($)', 
    'Total income (excl. Government pensions and allowances) - gini coefficient', 
    'Total income (excl. Government pensions and allowances) - income share of top 1% of earners'
]

cleaned_victoria_df = cleaned_victoria_df[relevant_columns]

In [35]:
# drop missing values
cleaned_victoria_df = cleaned_victoria_df.dropna()
cleaned_victoria_df

,Code,Label,Year,Employee income earners (no.),Total employee income ($m),Median employee income ($),Mean employee income ($),Own unincorporated business income earners (no.),Total own unincorporated business income ($m),Median own unincorporated business income ($),Mean own unincorporated business income ($),Investment income earners (no.),Total investment income ($m),Median investment income ($),Mean investment income ($),Total income (excl. Government pensions and allowances) ($m),Median total income (excl. Government pensions and allowances) ($),Mean total income (excl. Government pensions and allowances) ($),Total income (excl. Government pensions and allowances) - gini coefficient,Total income (excl. Government pensions and allowances) - income share of top 1% of earners
16,2,Victoria,2011.0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
17,2,Victoria,2016.0,3048110,174887.8,47469,57376,501879,12011,11177,23932,2416209,23279.2,293,6854,202318.3,46984,60350,0.479,9.5
18,2,Victoria,2017.0,3151400,184293.1,48219,58480,523202,12933.2,11268,24719,2446441,23835.4,243,9743,213668.9,47709,61489,0.48,9.5
19,2,Victoria,2018.0,3239361,196542,50019,60673,539640,13763.8,11707,25505,2517491,25895.6,217,10286,228631.1,49266,63442,0.481,9.6
20,2,Victoria,2019.0,3347084,208873.6,51688,62405,559515,14371.5,11711,25686,2641282,27614.3,171,10455,242783.1,51027,65366,0.477,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22163,702051068,Victoria River,2018.0,338,12.2,24001,36181,15,0.3,21000,19417,88,0.1,33,1078,12,33656,44652,0.447,-
22164,702051068,Victoria River,2019.0,357,13.2,26434,37104,23,0.1,4021,5632,103,0.3,34,2994,13,34493,43083,0.454,-
22165,702051068,Victoria River,2020.0,386,15.3,28639,39614,23,-0.1,1378,-6478,114,0.1,7,1179,14.6,36161,44761,0.452,-
22166,702051068,Victoria River,2021.0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
22167,702051068,Victoria River,2022.0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

In [36]:
# total locations in victoria 
len(cleaned_victoria_df)

4904

In [37]:
# `/data/curated/` directory: Save to a CSV file
cleaned_victoria_df.to_csv('../../data/curated/Preprocessed_Income_Victoria_SA2.csv', index=False)